
<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('lg')"

>

    <md-toolbar>
        <h1>Menu</h1>
    </md-toolbar>

    <md-content>


        <md-list>
            <md-list-item>Create new Test Company</md-list-item>
            <md-list-item>Create new Test Case</md-list-item>
            <md-list-item> Run Tests</md-list-item>
            <md-list-item>Show last results</md-list-item>

        </md-list>

    </md-content>


</md-sidenav>



