
<md-card>
    <md-card-content>
        <h3>the name of the project is</h3> {{selected.nameProject}}
        <h3>the status of the project is </h3>{{selected.status}}
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-cornered">Remove</md-button>
        <md-button class="md-raised md-cornered">Update</md-button>
        <md-button class="md-raised md-cornered">Change name</md-button>
        <md-button class="md-raised md-cornered">Close/Open</md-button>
    </md-card-actions>
</md-card>
